# Menyembunyikan ekstensi .php pada URL untuk semua folder
RewriteEngine On

# Redirect permintaan tanpa ekstensi ke file .php di semua folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+?)/?$ $1.php [L]

# Blokir akses langsung ke semua file .php kecuali index.php di semua folder
<FilesMatch "^(?!index)\w+\.php$">
  Order Deny,Allow
  Deny from all
</FilesMatch> 